<?xml version='1.0' encoding='utf-8'?>
<widget id="net.colourcountry.tabulator" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tabulator</name>
    <description>
        An app to reconcile debts between friends.
        Created with the Ionic Framework and Apache Cordova.
    </description>
    <author email="djl@colourcountry.net" href="http://colourcountry.com/2014/tabulator">
      Colourcountry
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
</widget>
