<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tabulator Colonel v0.9</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">

        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <script src="js/app.js"></script>

        <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
        <script src="js/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>
    </head>
    <body ng-app="tabulator" ng-controller="TabulatorCtrl">
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-header-bar ng-class="{&quot;bar-assertive&quot;: !active_bill.is_balanced,
                                           &quot;bar-dark&quot;: active_bill.is_balanced}">
                    <button class="button button-icon" ng-click="toggle_bills()">
                        <i class="icon ion-navicon"></i>
                    </button>
                    <button class="button button-icon ion-edit" ng-click="open_edit_bill()">
                    </button>
                    <button class="button button-icon ion-trash-b" ng-click="open_delete_bill()">
                    </button>
                    <h1 class="title" ng:show="active_bill.value">{{active_bill.title}}
                    </h1>
                    <!-- New Task button-->
                    <button class="button button-icon" ng-click="open_add_item()">
                        <i class="icon ion-plus-circled"></i>
                    </button>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="item in active_bill.items"
                                  ng-click="open_edit_item(item, $index)"
                                  ng-class="{item_credit: item.is_credit}">
                            <h2 ng-if="item.title">{{item.title}}</h2>
                            <p>
                                <span ng-class="{label_credit: item.is_credit}">
                                    <span ng-if="item.multiplier &gt; 1">{{item.multiplier}}&nbsp;&times; </span>{{item.currency_before}}&nbsp;<span ng-if="item.is_credit"
                                        >(</span>{{item.value | number:2}}<span ng-if="item.is_credit">)
                                    </span>&nbsp;{{item.currency_after}}
                                </span>
                                <span ng-repeat="key in item.participants"
                                      class="badge badge-participant"
                                      ng-class="{color_1:participants[key]%6==0,
                                                 color_2:participants[key]%6==1,
                                                 color_3:participants[key]%6==2,
                                                 color_4:participants[key]%6==3,
                                                 color_5:participants[key]%6==4,
                                                 color_6:participants[key]%6==5}">{{key}}</span>
                            </p>
                        </ion-item>
                    </ion-list>
                </ion-content>
                <ion-footer-bar class="bar-stable" ng-click="recalculate_active_bill()">
                    <p>
                        <span ng-repeat="(currency,value) in active_bill.balance">
                            <span ng-if="value.value &gt; 0" style="padding-left: 1em">
                                {{value.currency_before}}&nbsp;{{value.value / 100 | number:2}}&nbsp;{{value.currency_after}}&nbsp;under
                            </span>
                            <span ng-if="value.value &lt; 0" style="padding-left: 1em">
                                {{value.currency_before}}&nbsp;{{value.value / -100 | number:2}}&nbsp;{{value.currency_after}}&nbsp;over
                            </span>
                            <span ng-if="value.value == 0" style="padding-left: 1em">
                                {{value.currency_before}}&nbsp;{{value.currency_after}}&nbsp;balanced
                            </span>
                        </span>
                    </p>
                </ion-footer>
            </ion-side-menu-content>
            <ion-side-menu side="left">
                <ion-header-bar class="bar-dark">
                    <h1 class="title">Bills</h1>
                    <button class="button button-icon ion-plus-circled" ng-click="open_add_bill()">
                    </button>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item item-type="avatar"
                                  ng-repeat="bill in bills"
                                  ng-click="select_bill(bill, $index)"
                                  ng-class="{active: active_bill === bill}">
                            <h2>{{bill.title}}</h2>
                            <p ng-repeat="(currency,value) in bill.balance" class="p_relative">
                                {{bill.value[currency].currency_before}}
                                {{bill.value[currency].value / 100 | number:2 }}
                                {{bill.value[currency].currency_after}}
                                <span ng-if="value.value &gt; 0" class="badge badge-assertive badge_relative">
                                    {{value.currency_before}}&nbsp;{{value.value / 100 | number:2 }}&nbsp;{{value.currency_after}}&nbsp;under
                                </span>
                                <span ng-if="value.value &lt; 0" class="badge badge-energized badge_relative">
                                    {{value.currency_before}}&nbsp;{{value.value / -100 | number:2 }}&nbsp;{{value.currency_after}}&nbsp;over
                                </span>
                            </p>
                        </ion-item>
                    </ion-list>
                </ion-content>
                <ion-footer-bar class="bar-dark">
                    <button class="button button-icon ion-stats-bars" ng-click="open_standings()">
                    </button>
                    <button class="button button-icon ion-archive" ng-click="open_archive()">
                    </button>
                </ion-footer-bar>
            </ion-side-menu>
        </ion-side-menus>

        <script id="new-item.html" type="text/ng-template">
            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-secondary">
                    <h1 class="title">Add item</h1>
                    <button class="button button-icon ion-close" ng-click="close_add_item()"></button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <form name="item_details" ng-submit="create_item(item)"
                          ng-init="item.title=item_title;
                                   item.value=item_value;
                                   item.is_each=item_is_each;
                                   item.is_credit=item_is_credit">
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="(Optional) Name" ng-model="item.title">
                            </label>
                            <label class="item item-checkbox">
                                <input type="checkbox" ng-model="item.is_credit">
                                Credit
                            </label>
                            <label class="item item-input">
                                <input type="text" min="0" step="0.01" placeholder="Value (5, 0.60, $4.33, 6400 CFR...)" ng-model="item.value">
                            </label>
                            <div class="item item-divider">Participants</div>
                            <label class="item item-checkbox participants-list"
                                 ng-repeat="(participant,color) in participants">
                                <input type="checkbox"
                                 ng-model="x"
                                 ng-change="toggle_participant_selected(participant, x)"
                                 ng-init="x = is_participant_selected(participant)">
                                 <span>{{participant}}</span>
                            </label>
                            <label class="item item-checkbox">
                                <input type="checkbox" ng-model="item.is_each">
                                Apply full amount to each participant
                            </label>
                        </div>
                        <div class="padding">
                            <button type="submit" class="button button-icon ion-plus-circled"></button>
                        </div>
                    </form>

                </ion-content>

            </div>
        </script>

        <script id="standings.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-energized">
                    <h1 class="title">Standings</h1>
                    <button class="button button-icon ion-close-circled" ng-click="close_standings()"></button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>
                        <table class="standings">
                            <tr>
                                <th></th>
                                <th ng-repeat="(currency,value) in total_per_currency">
                                    {{total_per_currency[currency].currency_before}}&nbsp;{{total_per_currency[currency].currency_after}}
                                </th>
                            </tr>
                            <tr ng-repeat="(key,value) in participants" ng-if="total_balances[key]">
                                <th>
                                <span class="badge badge-participant"
                                      style="float:left !important"
                                      ng-class="{color_1:participants[key]%6==0,
                                                 color_2:participants[key]%6==1,
                                                 color_3:participants[key]%6==2,
                                                 color_4:participants[key]%6==3,
                                                 color_5:participants[key]%6==4,
                                                 color_6:participants[key]%6==5}">{{key}}</span>
                                </th>
                                <td ng-repeat="(currency,ignore) in total_per_currency">
                                    <span ng-if="total_balances[key][currency].value &gt; 0">
                                        {{total_balances[key][currency].value / 100 | number:2}}
                                    </span>
                                    <span ng-if="total_balances[key][currency].value &lt; 0" class="label_credit">
                                        ({{total_balances[key][currency].value / -100 | number:2}})
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-top: 2px solid black">
                                <td>Total</td>
                                <td ng-repeat="(currency,value) in total_per_currency">
                                    <span ng-if="total_per_currency[currency].value &gt;= 0">
                                        {{total_per_currency[currency].value / 100 | number:2}}
                                    </span>
                                    <span ng-if="total_per_currency[currency].value &lt; 0" class="label_credit">
                                        ({{total_per_currency[currency].value / -100 | number:2}})
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="standings" style="display: table">
                            <ul>
                                        <li>
                                        You owe amounts shown in black.
                                        </li><li>
                                        You are owed <span class="label_credit">(amounts)</span> shown in red.
                                        </li><li>
                                        All totals should be 0 when balanced.
                                        </li>
                            </ul>
                        </div>
                </ion-content>
                <ion-footer-bar class="bar-stable">
                    <small>Tabulator Colonel v0.9 by <a href="http://colourcountry.com/">colourcountry</a>
                    ( <a href="http://colourcountry.com/2014/tabulator">get online help</a> )
                    </small>
                </ion-footer-bar>

            </div>

        </script>

        <script id="archive.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-balanced">
                    <h1 class="title">CSV data</h1>
                    <button class="button button-icon ion-share" ng-click="share_archive()"></button>
                    <button class="button button-icon ion-close-circled" ng-click="close_archive()"></button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>
                        <pre class="archive" id="archive_data"
>Bill,Item,Credit ?,Multiplier,Currency,Amount,Currency,<span ng-repeat="(participant,index) in participants">,{{participant}}</span>
<span ng-repeat="bill in bills"
><span ng-repeat="item in bill.items"
>{{bill.title}},{{item.title}},{{item.is_credit ? "cr" : ""}},{{item.multiplier}},{{item.currency_before}},{{item.value}},{{item.currency_after}}<span ng-repeat="(participant,index) in participants">,{{(item.participants.indexOf(participant)>-1) ? participant : ""}}</span>
</span>
</span>
                        </pre>
                </ion-content>
            </div>

        </script>

    </body>
</html>

